[Unit]
Description=Jellyfin Media Player Updater
# Don't run if the file doesn't exist
ConditionPathExists=!/vault/containers/%i/no-update
# Wait until after network is up
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-jellyfinmediaplayer.sh

[Install]
WantedBy=multi-user.target
