[Unit]
Description=Jellyfin Media Player Mount
Requires=systemd-networkd.service
After=network-online.target
Wants=network-online.target

[Mount]
What=//mediaserver.local/containers
Where=/vault/containers
Options=credentials=/etc/samba/media,ro,noauto,x-systemd.automount
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target